body{
    background-color: #b9f8f4;
    color: #0e3532;
    width: 46%;
    padding: 1%;
}

li{
    padding: 1%;
}

h1{
    font-family:brush script mt,cursive;
}

h2{
    font-family:brush script mt,cursive;
}